@import '../../styles/reset.scss';
@import '../../styles/variables.scss';
@import '../../styles/common.scss';
@import '../../styles/responsive.scss';

body{

  .container-banner{
    @include relative;
    @include container{
      max-height: 640px;
      height: 100%;
    }
    
    background-color: $peach;
    border-radius: 2%;
    margin-bottom: 10rem;

    @include d-flex{
      justify-content: space-between;
      align-items: center;
    }

    @include tablet{
      flex-direction: column;
      justify-content: center;
      max-height: 1000px;
      height: 100%;
      text-align: center;
    }

    @include mobile{
      max-width: 480px;
      height: 100%;
      max-height: 900px;
      flex-direction: column;
      justify-content: center;
      border-radius: 0;
      margin-bottom: 120px;
    }

    transform: translateY(1rem);
    opacity: 0;
    transition: all 1s ease-in-out;

    .patch1{
      @include absolute{
        top: 56.2rem;
      }
      width: 100%;
      height: 200px;
      background: #F2F2F2;
    }

    .tablet-bg-pattern{
      display: none;

      @include tablet{
        display: block;
        @include absolute{
          right: 0;
          top: 103px;
        }
      }
    }

    .banner-content{
      color: $white;
      margin-left: 5.9375rem;

      @include tablet{
        margin: 0;
        width: 573px;
        height: 326px;

        @include relative{
          z-index: 1;
        }
      }

      @include mobile{
        width: 327px;
        height: 312px;
        text-align: center;
        margin: calc(5rem + 80px) 24px 0 24px;
      }

      &::after{
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;

        background-image: url(../../styles/images/bg-pattern-hero-home.svg);
        max-width: 640px;
        max-height: 640px;
        width: 100%;
        height: 100%;

        @include tablet{
          display: none;
        }

        @include mobile{
          z-index: -1;
          right: -43px;
          top: 74px;
        }
      }

      .title{
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 22px;

        @include tablet{
          margin-top: 60px;
        }

        @include mobile{
          font-size: 32px;
          line-height: 36px;
        }
      }

      .para{
        font-size: 16px;
        line-height: 26px;
        max-width: 445px;
        width: 100%;
        margin-bottom: 40px;

        @include tablet{
          margin: 0;
          display: inline-block;
          margin-bottom: 19px;
        }

        @include mobile{
          font-size: 15px;
          line-height: 25px;
        }
      }

      .learn-more{
        cursor: pointer;
        padding: 13px 25px;
        border-radius: 10px;
        color: $black;
        background-color: $white;

        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        transform: scale(1);
        transition: all .3s ease-in-out;

        &:hover{
          background-color: $peach-active;
          color: $white;
          transform: scale(1.05);
        }
      }
    }

    .img-phone{
      max-height: 640px;
      height: 100%;

      @include tablet{
        margin-left: 2rem;
      }

      @include mobile{
        width: 100%;
        max-height: none;
      }

      img{
        @include d-block;
        height: 100%;

        @include mobile{
          width: 100%;
          margin-left: 19px;
        }
      }
    }
  }

  .is-visible{
    opacity: 1;
    transform: translateY(0);
  }

  .container-design-categories{
    @include container;
    @include d-grid{
      grid-template-columns: 50% 50%;
      column-gap: 15px;
      row-gap: 24px;
    }

    @include tablet{
      margin-top: 120px;
      @include d-grid{
        grid-template-rows: 30% 30% 30%;
        grid-template-columns: 100%;
        row-gap: 24px;
      }
    }

    @include mobile{
      grid-template-columns: 100%;
      margin-bottom: 120px;
    }

    margin-bottom: 160px;
    
    .web-design{
      cursor: pointer;
      background-image: url(../../styles/images/image-web-design-large.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      max-width: 541px;
      width: 100%;
      height: 640px;
      border-radius: 20px;

      @include tablet{
        height: 200px;
        width: 100%;
        margin: auto;
        background-image: url(../../styles/images/tablet/image-web-design.jpg);
      }

      @include mobile{
        max-width: 350px;
        width: 100%;
        height: 350px;
        margin: auto;
        background-image: url(../../styles/images/mobile/image-web-design.jpg);
      }

      @include relative;

      @include d-flex{
        align-items: center;
        justify-content: center;
      }

      &:hover > .overlay{
        background-color: $peach-active;
      }

      &:hover .content-d .second-title{
        padding-right: 25px;
      }

      transform: translateX(-1rem);
      opacity: 0;
      transition: all .5s ease-in-out;

      .content-d{
        @include absolute{
          z-index: 1;
        }

        @include content-d{
          text-align: center;
          color: $white;
          text-transform: uppercase;
        }

        .second-title{
          display: inline-block;
          color: $white;
          font-size: 15px;
          letter-spacing: 5px;
        }
      }

      .overlay{
        @include overlay;
      }
    }

    .is-visible{
      transform: translateX(0);
      opacity: 1;
    }

    .right-content{

      @include d-grid{
        row-gap: 24px;
      }
      
      .app-design{
        cursor: pointer;
        background-image: url(../../styles/images/image-app-design.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 541px;
        width: 100%;
        height: 308px;
        border-radius: 20px;

        @include tablet{
          height: 200px;
          width: 100%;
          margin: auto;
          background-image: url(../../styles/images/tablet/image-app-design.jpg);
        }

        @include mobile{
          max-width: 350px;
          width: 100%;
          height: 350px;
          margin: auto;
          background-image: url(../../styles/images/mobile/image-app-design.jpg);
        }

        @include relative;

        @include d-flex{
          align-items: center;
          justify-content: center;
        }

        &:hover > .overlay{
          background-color: $peach-active;
        }
  
        &:hover .content-d .second-title{
          padding-right: 25px;
        }

        transform: translateX(1rem);
        opacity: 0;
        transition: all .8s ease-in-out;

        .content-d{
          @include absolute{
            z-index: 1;
          }

          @include content-d{
            text-align: center;
            color: $white;
            text-transform: uppercase;
          }
          .second-title{
            display: inline-block;
            color: $white;
            font-size: 15px;
            letter-spacing: 5px;
          }
        }

        .overlay{
          @include overlay;
        }
      }

      .is-visible{
        transform: translateX(0);
        opacity: 1;
      }

      .graphic-design{
        background-image: url(../../styles/images/image-graphic-design.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 541px;
        width: 100%;
        height: 308px;
        border-radius: 20px;

        @include tablet{
          height: 200px;
          width: 100%;
          margin: auto;
          background-image: url(../../styles/images/tablet/image-graphic-design.jpg);
        }

        @include mobile{
          max-width: 350px;
          width: 100%;
          height: 350px;
          margin: auto;
          background-image: url(../../styles/images/mobile/image-graphic-design.jpg);
        }
        
        @include relative;

        @include d-flex{
          align-items: center;
          justify-content: center;
        }

        &:hover > .overlay{
          background-color: $peach-active;
        }
  
        &:hover .content-d .second-title{
          padding-right: 25px;
        }

        transform: translateX(1rem);
        opacity: 0;
        transition: all 1s ease-in-out;

        .content-d{
          @include absolute{
            z-index: 1;
          }

          @include content-d{
            text-align: center;
            color: $white;
            text-transform: uppercase;
          }
          .second-title{
            display: inline-block;
            color: $white;
            font-size: 15px;
            letter-spacing: 5px;
          }
        }

        .overlay{
          @include overlay;
        }
      }

      .is-visible{
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  .container-concepts{
    @include container;
    @include relative;
    height: 412px;
    margin-bottom: 16rem;

    @include tablet{
      height: 550px;
      margin-top: 120px;
      margin-bottom: 19rem;
    }

    @include mobile{
      height: 1500px;
      @include d-flex{
        justify-content: center;
      }
    }
    
    .concepts{
      @include d-flex;
      @include absolute{
        z-index: 1;
      }

      @include tablet{
        @include d-block;
      }

      @include mobile{
        flex-direction: column;
      }

      .passionate{
        text-align: center;
        padding-right: 30px;

        opacity: 0;
        transform: translateY(1rem);
        transition: all 1s ease-in-out;

        @include mobile{
          max-width: 327px;
          width: 100%;
          height: 412px;

          opacity: 0;
          transform: translateX(1rem);
          transition: all 1s ease-in-out;
        }

        .content-c{
          @include content-c;
          @include d-flex{
            flex-direction: column;
          }

          @include tablet{
            @include d-flex{
              flex-direction: row;
            }
          }
        }
      }

      .resourceful{
        text-align: center;
        opacity: 0;
        transform: translateY(-1rem);
        transition: all 1s ease-in-out;

        @include mobile{
          max-width: 327px;
          width: 100%;
          height: 412px;

          opacity: 0;
          transform: translateX(-1rem);
          transition: all 1s ease-in-out;
        }

        .content-c{
          @include content-c
        }

      }

      .friendly{
        text-align: center;
        padding-left: 30px;
        opacity: 0;
        transform: translateY(1rem);
        transition: all 1s ease-in-out;

        @include tablet{
          padding-left: 0;
        }

        @include mobile{
          max-width: 327px;
          width: 100%;
          height: 412px;
          
          opacity: 0;
          transform: translateX(-1rem);
          transition: all 1s ease-in-out;
        }

        .content-c{
          @include content-c
        }
      }

      .is-visible{
        opacity: 1;
        transform: translateY(0);

        @include mobile{
          transform: translateX(0);
        }
      }
    }

    .rectangle{
      max-width: 1002px;
      height: 594px;
      width: 100%;

      @include absolute{
        right: 0;
        top: 23%;
      }
    }

    .get-in-touch-banner{
      width: 100%;
      max-height: 292px;
      height: 100%;
      background-image: url(../../styles/images/get-in-touch-bg.svg);
      @include absolute{
        top: 132%;
        z-index: 1;
      }

      @include tablet{
        max-width: 690px;
        max-height: 350px;
        border-radius: 15px;
        width: 100%;
        margin: auto;
        height: 100%;

        @include d-flex{
          flex-direction: column;
          align-items: center;
        }
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;

        top: 115%;
      }

      @include d-flex{
        align-items: center;
        justify-content: space-around;
      }

      opacity: 1;
      transform: translateY(-1rem);
      transition: all 1s ease-in-out;

      .content-t{
        margin-top: 1rem;
        color: $white;
        max-width: 459px;
        max-height: 174px;

        .title-t{
          font-size: 56px;
          line-height: 50px;
          margin-bottom: 30px;
        }

        .para-t{
          font-size: 16px;
          line-height: 26px;
        }
      }

      .get-touch-btn{
        cursor: pointer;
        padding: 13px 25px;
        border-radius: 10px;
        color: $black;
        background-color: $white;

        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        transform: scale(1);
        transition: all .3s ease-in-out;

        margin-bottom: 2rem;

        &:hover{
          background-color: $peach-active;
          color: $white;
          transform: scale(1.05);
        }

        &:focus{
          outline: none;
        }
      }
    }

    .is-visible{
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.scroll-top{
  @include fixed{
    bottom: 10%;
    right: 10%;
    z-index: 10;
  }

  border: none;
  display: none;
  
  padding: 5px 10px 0 10px;
  background-color: $peach;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px $black;
  transition: all .3s ease-in-out;
  
  svg{
    transform: rotate(-90deg);

    path{
      fill: $white;
      font-size: 16px;
    }
  }

  &:hover{
    background-color: $peach-active;
  }

  &:focus{
    outline: none;
  }
}