@import "../../../../../styles/reset.scss";
@import "../../../../../styles/common.scss";
@import "../../../../../styles/variables.scss";
@import "../../../../../styles/responsive.scss";

.card {
  width: 350px;
  height: 478px;
  @include container;

  @include relative{
    bottom: 303px;
    z-index: 2;
  }

  .card-bg {
    width: 350px;
    height: 320px;

    img {
      max-width: 350px;
      height: 320px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .content-card {
    width: 350px;
    height: 158px;
    text-align: center;
    color: $black;
    background-color: $card-bg;

    margin: 0;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .3s ease-in-out;

    @include d-flex{
      align-items: center;
      justify-content: center;
    }

    &:hover{
      color: $white;
      background-color: $peach;
    }

    &:hover .content-wrapper-card .title-card{
      color: $white;
    }

    .content-wrapper-card {
      width: 286px;
      height: 94px;

      .title-card {
        font-size: 20px;
        color: $peach;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 5px;

        text-align: center;
        text-transform: uppercase;
        margin-bottom: 22px;
        transition: all .3s ease-in-out;
      }

      .para-card{
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
      }
    }
  }
}
