@import '../../../../styles/reset.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/common.scss';
@import '../../../../styles/responsive.scss';

.card-layout{
  @include container;
  height: 850px;
  z-index: 2;

  @include d-grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 32px;
    column-gap: 30px;
  }

}



.container-app-design-categories{
  @include container;
  @include d-grid{
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  margin-bottom: 377px;

  .left-design{
    transform: translateX(-1rem);
    opacity: 0;
    transition: all 1s ease-in-out;

    .app-design{
      cursor: pointer;
      background-image: url(../../../../styles/images/image-app-design.jpg);
      width: 541px;
      height: 308px;
      border-radius: 20px;

      @include relative;

      @include d-flex{
        align-items: center;
        justify-content: center;
      }

      &:hover > .overlay{
        background-color: $peach-active;
      }

      &:hover .content-d .second-title{
        padding-right: 25px;
      }

      .content-d{
        @include absolute{
          z-index: 1;
        }

        @include content-d{
          text-align: center;
          color: $white;
          text-transform: uppercase;
        }
        .second-title{
          display: inline-block;
          font-size: 15px;
          letter-spacing: 5px;
          color: $white;
        }
      }

      .overlay{
        @include overlay;
      }
    }
  }

  .is-visible{
    transform: translateX(0);
    opacity: 1;
  }

  .right-design{
    transform: translateX(1rem);
    opacity: 0;
    transition: all 1s ease-in-out;

    .graphic-design{
      background-image: url(../../../../styles/images/image-graphic-design.jpg);
      width: 541px;
      height: 308px;
      border-radius: 20px;
      
      @include relative;

      @include d-flex{
        align-items: center;
        justify-content: center;
      }

      &:hover > .overlay{
        background-color: $peach-active;
      }

      &:hover .content-d .second-title{
        padding-right: 25px;
      }

      .content-d{
        @include absolute{
          z-index: 1;
        }

        @include content-d{
          text-align: center;
          color: $white;
          text-transform: uppercase;
        }
        .second-title{
          display: inline-block;
          font-size: 15px;
          letter-spacing: 5px;
          color: $white;
        }
      }

      .overlay{
        @include overlay;
      }
    }
  }

  .is-visible{
    transform: translateX(0);
    opacity: 1;
  }
}
