@import '../styles/responsive.scss';
@import '../styles/variables.scss';

@mixin d-flex {
  display: flex;
  @content;
}

@mixin  d-grid {
  display: grid;
  @content;
}

@mixin d-inline-block{
  display: inline-block;
}

@mixin d-block {
  display: block;
}

@mixin d-none {
  display: none;
}

@mixin d-contents {
  display: contents;
}

@mixin fixed {
  position: fixed;
  @content;
}

@mixin relative {
  position: relative;
  @content;
}

@mixin absolute {
  position: absolute;
  @content;
}

@mixin container {

  max-width: 1111px;
  width: 100%;
  margin: 4rem auto;
  @content; 

  @include tablet{
    max-width: 689px;
    width: 100%;
    margin: 4rem auto;
    @content;
  }

  @include mobile{
    max-width: 480px;
    width: 100%;
    margin: 0;
    @content;
  }
}

@mixin content-d {

  .title-d{
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .second-title{
    font-size: 15px;
    letter-spacing: 5px;
    padding-right: 21px;
    transition: all .3s ease-in-out;
  }
  @content;
}

@mixin overlay {
  position: absolute;
  background-color: $black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: .65;
  border-radius: 20px;
  cursor: pointer;
  transition: background .3s ease-in-out;
  @content;
}

@mixin content-c {
  @include relative;
  @content;
  

  @include tablet{
    @include d-flex{
      align-items: center;
    }
  }

  .icon-c{
    width: 100%;
    height: 202px;
    margin-right: 48px;
    @include relative;
    @include d-flex{
      justify-content: center;
      align-items: center;
    }

    @include tablet{
      width: 202px;
      height: 202px;
    }

    .passionate-img{
      
      @include tablet{
       width: 160px;
       height: 136px;
      }
    }

    .friendly-img{

      @include tablet{
        width: 160px;
        height: 136px;
      }
    }

    .resourceful-img{

      @include tablet{
        width: 160px;
        height: 136px;
      }
    }

    .oval-white{
      @include tablet{
        left: 0;
      }
    }
  }

  .right-c{

    @include tablet{
      @include d-flex{
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .title-c{

      @include tablet{
        margin-bottom: 16px;
      }
    }

    .para-c{
      
      @include tablet{
        text-align: initial;
      }
    }
  }

  img{
    max-width: 184px;
    max-height: 162px;
    height: 100%;
    width: 100%;
  }

  .oval-white{
    @include absolute{
      left: 24%;
    }
  }

  .title-c{
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 26px;
    margin-bottom: 32px;
  }

  .para-c{
    font-size: 16px;
    line-height: 26px;
  }
}

@mixin animation($name, $fromX, $toX, $fromY, $toY, $fromZ, $toZ,) {
  @keyframes #{$name} {
    0% {transform: translate3d($fromX, $fromY, $fromZ); opacity: 0;}
    100% {transform: translate3d($toX, $toY, $toZ); opacity: 1;}
  }
}