@import '../../../styles/reset.scss';
@import '../../../styles/common.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';

.subscribe-form{
  width: 380px;
  height: 371px;

  @include tablet{
    width: 540px;
    height: 291px;
  }

  div{
    @include relative;

    label{
      font-size: 15px;
      line-height: 26px;
      font-weight: 500;
      color: $white;
      opacity: .5;

      @include absolute{
        top: 0;
        left: 0;
        z-index: 1;
      }
      transform: scale(1);
      transition: all .3s ease-in-out;
    }

    .label-animate{
      top: -25px;
      left: 5px;
      z-index: 1;
      transform: scale(1.2);
      opacity: 1;
    }

    input {
      display: block;
      width: 380px;
      outline: 0;
      border-bottom: 1px ridge $white;
      background-color: $peach;
      color: $white;
      background: transparent;

      @include relative;
      margin-bottom: 3rem;

      @include tablet{
        width: 573px;
      }
    }


    input:focus {
      border-bottom: 1px ridge $white;
      color: $white;
    }

    ::placeholder{
      color: $white;
      opacity: .5;
      transition: all .3s ease-in-out;
    }
  }

  .error{
    @include absolute{
      top: 30px;
      right: 25px;
    }
    color: $white;
    opacity: 1;
    font-style: italic;
    transition: all .3s ease-in-out;
  }

  .exclamation-mark{
    @include absolute{
      top: 33px;
      right: 0;
    }
    opacity: 1;
    transition: all .3s ease-in-out;
  }

  .submit-btn{
    cursor: pointer;
    outline: none;
    transition: all .3s ease-in-out;
    float: right;
    margin-top: 24px;

    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 17px 47px;
    background-color: $white;
    border-radius: 5px;

    @include tablet{
      margin: 0;
    }

    &:hover{
      background-color: $peach-active;
      color: $white;
    }
  }
}

